.s-about {
    padding-top: var(--vspace-7);
    color: var(--color-3);
}

/* --------------------------------------------------------------------
 * ## about blocks
 * -------------------------------------------------------------------- */
.s-about__blocks {
    margin-top: var(--vspace-3);
}

.s-about__blocks .s-about__block-title {
    margin-top: 0;
    margin-bottom: var(--vspace-1);
    padding-left: 1.45rem;
    position: relative;
}

.s-about__blocks .s-about__block-title::before {
    content: "";
    height: 0.7em;
    width: 3px;
    background-color: var(--color-1);
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
}

section #about {
    background-color: var(--body-background);
    color: var(--body-color);
}

.timeline-info span {
    color: var(--color-orange);
}

.education, .experience {
    font-weight: 900 !important;
}

@media screen and (max-width: 1024px) {
    .about_content {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .about_writeup {
        width: 95%;
        box-shadow: 5px 10px 8px rgb(206, 205, 205);
        background-color: rgb(231, 231, 231);
        padding: 30px 20px;
    }

    .about_img {
        width: 95%;
    }

    .about_img img {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .s-about {
        padding-top: var(--vspace-5);
    }
}

.attention-getter {
    text-align: justify;
}

.timeline-info{
    margin-left: 100px !important;
    margin-top: -40px;
}